---
import { ViewTransitions } from 'astro:transitions';
import Sidebar from '../components/Sidebar.astro';

import '../styles/global.css'; 

interface Props {
	title: string;
}
const { title = "Portfólio" } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=JetBrains+Mono:wght@400&display=swap" rel="stylesheet">

		<title>{title}</title>
    <ViewTransitions />

    <script is:inline>
      // Esta função é auto-executada
      (function() {
        // 1. Verificamos se o usuário JÁ escolheu um tema
        const theme = localStorage.getItem('theme');
        
        // 2. Verificamos a preferência do Sistema Operacional
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

        if (theme === 'dark' || (!theme && prefersDark)) {
          // 3. Aplicamos a classe ANTES da página ser pintada
          document.documentElement.classList.add('dark');
        }
      })();
    </script>

	</head>
	<body>
    <Sidebar transition:persist />
		<main>
      <slot />
    </main>
	</body>
</html>